<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StillSavvy</title>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://kit.fontawesome.com/596d409c2c.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
  <nav id="navbar">
    <p class="brand-name"><a href="/">Skill<span id="savvy">Savvy</span></a></p>
    <ul class="navbar-items">
      <li class="navbar-item"><a href="/create">Create</a></li>
      <li class="navbar-item"><a href="/about">About</a></li>
      <li class="navbar-item"><a href="/contact">Contact Us</a></li>
    </ul>
    <button class="darkmode-btn" onclick="bgcToggle()"><i class="fa-solid fa-moon"></i></button>
    <% if(user == undefined) { %>
      <div id="login-container">
        <a href="/logIn"><button type="submit" id="log-in">Log In</button></a>
        <a href="/signUp"><button type="submit" id="sign-up">Sign Up</button></a>
      </div> 
    <% } else { %>
      <div id="login-container">
        <a href="/logout"><button type="submit" id="log-out">Log Out</button></a>
        <a href="/profile<% user.id %>"><% user.username %></a>
      </div>
    <% } %>
  </nav>
  <script src="/js/darkmode.js"></script>
