<%- include('partials/header') %>


<form class="login-form" action="/login" method="POST">
  <h1>Log In</h1>

  <h2 class="create-label">Email</h2>
  <input type="email" class="login-input" name="username">

  <h2 class="create-label">Password</h2>
  <input type="password" class="login-input" name="password">
  
  <button type="submit" class="login-btn">Log In</button>
</form>

<!-- <div class="google-container">
  <a class="google-btn" href="/auth/google" role="button">
    <i class="fab fa-google"></i>
    Sign In with Google
  </a>
</div> -->


</div>

<%- include('partials/footer') %>
